{% extends "base.html" %}
{% block content %}    
<main class="form-signin text-center container">

  {% if form.errors %}
 <div class="alert alert-danger">
   <strong>Ошибка!</strong> Неправильне имя пользователя или пароль. Пожалуйста, попробуйте еще раз.
</div>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal">Пожалуйста, войдите</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
      <label for="floatingInput">Имя пользователя</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
      <label for="floatingPassword">Пароль</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <a href="{% url 'password_reset' %}">Забыли пароль?</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Войти</button>
    <p class="mt-5 mb-3 text-muted">© Olga K. inc.</p>
  </form>
</main>
{% endblock %}