{% extends 'base.html' %}
{% block content %}

<main class="form-signin text-center">
    <form method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Пожалуйста, введите новый пароль</h1>

        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword" placeholder="New password" name="new_password1">
          <label for="floatingPassword">Введите новый пароль</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="floatingPassword1" placeholder="Repeat new password" name="new_password2">
          <label for="floatingPassword1">Повторите новый пароль</label>
        </div>

        {% if form.naw_password2.errors %}
         <div class="alert alert-danger">
            <strong>Ошибка!</strong> {{form.new_password2.errors}}
        </div>
        {% endif %}

        <button type="submit" class="btn btn-info" >Подтвердить</button>
    </form>
</main>
{% endblock %}