{% extends 'base.html' %}

{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        {% for author in authors %}
            <div class="col">
                <div class="card shadow-sm">
                    <img src="{{author.photo.url}}" width="95%" height="400px">
                    <div class="card-body">
                        <p class="card-text" style="font-size: 20px; text-align: center;"><b>{{author}}</b></p>
                        <p class="card-text">
                            <span class="badge bg-dark" style="display: block; text-align: center; font-size: 14px;">{{ author.date_of_birth }} - {% if author.date_of_death %} {{ author.date_of_death }} {% else %} present {% endif %}</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                        <a type="button" class="btn btn-md btn-outline-secondary" href="{{ author.get_author_url }}" style="font-size: 15px;"> Show books {{ author }}</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}